<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <!--    import echart.js-->
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>
<body>
    <!--Set up the Echarts' dom-->
    <div id="main" style="width:1000px; height:600px;"></div>
    <script type="text/javascript">
        <!--Base on the dom, Initial the echarts-->
        var myChart = echarts.init(document.getElementById('main'));
        // Set up the chart's configration and data from the test.py
        var option = {{bar_options | safe}};
        // Use the configuration to display the charts
        myChart.setOption(option);
    </script>
</body>
</html>