<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check User Detail</title>
</head>
<body>
  <table border="1">
    <tr>
      <th>ID</th>
      <td>{{user["id"]}}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{user["name"]}}</td>
    </tr>
    <tr>
      <th>sex</th>
      <td>{{user["sex"]}}</td>
    </tr>
    <tr>
      <th>age</th>
      <td>{{user["age"]}}</td>
    </tr>
    <tr>
      <th>email</th>
      <td>{{user["email"]}}</td>
    </tr>
  </table>

</body>
</html>